In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import train_test_split
import sys

In [ ]:
#READ DATASET
df=pd.read_csv('water_dataset.csv',sep=';')
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB

In [15]:
#STASTICS
# df.describe()
# df.isnull().sum()
#correctling date..
df.sort_values(by=['date'])
df.head()

   id        date    NH4  BSK5  Suspended  ...    NO3    NO2    SO4    PO4      CL
0   1  17.02.2000  0.330  2.77       12.0  ...   9.50  0.057  154.0  0.454   289.5
1   1  11.05.2000  0.044  3.00       51.6  ...  17.75  0.034  352.0  0.090  1792.0
2   1  11.09.2000  0.032  2.10       24.5  ...  13.80  0.173  416.0  0.200  2509.0
3   1  13.12.2000  0.170  2.23       35.6  ...  17.13  0.099  275.2  0.377  1264.0
4   1  02.03.2001  0.000  3.03       48.8  ...  10.00  0.065  281.6  0.134  1462.0

[5 rows x 11 columns]

In [ ]:
df.columns
pollutants =['NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL']

Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL'],
      dtype='object')